@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
}


$fontFamily: 'Nunito',
sans-serif;

@mixin bgGradient {
    background-image: linear-gradient(to bottom, #434343 0%, black 100%);
}


$border: 1px solid #aeafb0;


// Navigation
$navBgColor: #7229E6;
$navFontColor: #fff;
$secondaryColor: #fff;

// TopAlbums
$searchBoxBgColor: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
$searchIconColor: #fff;

//Album
$panelBgColor: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
$borderPanelMainInfo: 1px solid #f0f1f5;
$panelMainInfoGradient: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
$borderPanelLinks: #f0f1f5 solid 1px;